<%= form_tag "/restaurants/#{@restaurant.id}", :method => 'patch' do %>

  <div>
    <label for="name">Name:</label>
    <input size="80" name="name" id="name" value="<%= @restaurant.name %>">
  </div>

  <div>
    <label for="address">Address:</label>
    <input size="25" name="address" id="address" value="<%= @restaurant.address %>">
  </div>

    <div>
    <label>Cuisine Type: </label>
      <% Cuisine.all.each do |cuisine| %>
        <input type ="checkbox" name="cuisine_ids[]" value = "<%=cuisine.id %>" ><%= cuisine.name %></>
      <%end%>
    </select>
  </div>


  <input type="submit" name="commit" value="Update Restaurant">

<% end %>





