<style>
  label { width: 100px; vertical-align: middle;}
</style>

<h2>Add a New Restaurant</h2>

<%= form_tag "/restaurants" do %>
  <p><label>Name:</label> <input name="name" size="30"></p>
  <p><label>Address:</label> <input name="address" size="80"></p>
  <!--  <p><label>Neighborhood:</label> <input name="neighborhood_id" size="80"></p> -->
   <div>
    <label for="neighborhood_id">Neighborhood: </label>
    <select name="neighborhood_id">
      <% @neighborhoods.each do |neighborhood| %>
        <option value="<%= neighborhood.id %>">
          <%= neighborhood.name %>
        </option>
      <% end %>
    </select>
  </div>
     <div>
     <label>Cuisine Type: </label>
      <% Cuisine.all.each do |cuisine| %>
        <input type ="checkbox" name="cuisine_ids[]" value = "<%=cuisine.id %>" ><%= cuisine.name %></>
      <%end%>
    </select>
  </div>
  <p><button>Submit</button></p>
<% end %>