<h2><%= @restaurant.restaurant_name %></h2>

<p>
  <span class="rating">Rated: <%= @restaurant.rating %></span><br>
  <%= @restaurant.address %> <br> 
  <%= @restaurant.cuisine_id %>
  <%= @restaurant.neighborhood_id %>

</p>

<p><%= @restaurant.notes %></p>

