<h2><%= @restaurant.name %></h2>

<p>
  <%= @restaurant.address %> <br> 
  <%= @restaurant.cuisine_id %><br> 
  <%= @restaurant.neighborhood_id %><br> 
 
  <%@reviews.each do |review| %>
    <br> Rating: <%=review[:rating] %>
    <br> Review: <%= review[:submitted_review] %> <br>
  <%end%>

</p>


