<!DOCTYPE html>
<html>
<head>
  <title>ListShare</title>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div class="container">

    <h1> Chicago ListShare 

      <small><%= link_to "Restaurants", '/restaurants' %></small>
      <small><%= link_to "Neighborhoods", '/neighborhoods' %></small>
      <small><%= link_to "Cuisine", '/cuisines' %></small>
      <small><%= link_to "Users", '/users' %></small>

      <div class="pull-right">
      <% if session["user_id"].present? %>
        <small><%= User.find_by(id: session["user_id"]).email %></small>
        <small><%= link_to "My Account", user_path(User.find_by(id: session["user_id"])) %></small>
        <small><%= link_to "Sign Out", '/logout', method: "delete" %></small>
      <% else %>
        <small><%= link_to "Sign Up", '/signup' %></small>
        <small><%= link_to "Sign In", '/login' %></small>
    <% end %>
    </h1>

    <% if notice.present? %>
      <div class="alert alert-info"%>
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
